#main{
  background-color: var(--배경2);
  width: 90%;
  text-align: center;
  border-radius: 10px;
}

p{
  font-size: 18px;
}

.begin{
  color: var(--BOINDA_BLUE);
  background-color: var(--배경2);
  font-size: 20px;
  border: 2px solid var(--BOINDA_BLUE);
  border-radius: 5px;
}

.begin:hover, .begin:focus {
  color: var(--배경2);
  background-color: var(--BOINDA_BLUE);
  /*border: 3px solid transparent;*/
}

.keepAll {
  word-break: keep-all;
}